ion-content {
  --background: #fff; /* Latar belakang konten putih */
  display: flex;
  align-items: center;
  justify-content: center; /* Mengatur konten agar berada di tengah */
  width: 100%;		
  height: 100%;
}

/* Controller Container */
.controller-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Pusatkan semua konten secara vertikal */
}

.top-right {
  position: absolute;
  top: 16px;
  right: 16px;
}

/* Top Left Buttons */
.top-left {
  position: absolute;
  top: 16px;
  left: 16px;
}

/* Canvas Styling */
canvas {
  border: 1px solid #000; /* Tambahkan border hitam pada kanvas */
  background-color: #f0f0f0; /* Latar belakang kanvas abu-abu muda */
}

/* Button Styling */
ion-button {
  margin-top: 16px; /* Jarak tombol dari elemen di atasnya */
  width: 80%; /* Lebar tombol relatif terhadap lebar container */
}

ion-button.expand-full {
  width: 100%; /* Lebar tombol expand-full memenuhi lebar container */
}